nav {
	webkit-transition: none !important;
	transition: none !important;
}

.nav-link:hover {
	color: #ff7070 !important;
	transition: color 0.2s ease-in !important;
}

.active {
	background-color: #ffffff !important;
	color: #ff7070 !important;
}

.wow {
	visibility: hidden;
}

.social-media-buttons {
	text-decoration: none !important;
	color: black !important;
}

@media screen and (max-width: 768px){
	.rwd-break {
		display: none;
	}
}