* {
  box-sizing: border-box;
}

#bio {
  text-align: left;
  font-size: 14px;
  margin: 3% auto 0px auto;
  width: 60%;
}

.pic {
  margin: 3% auto 0px auto;
  display: block;
}

.biography-wrapper {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 1.5%;
  width: 100% !important;
}