* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  height: 1.75em;
  width: 7%;
  margin-left: 4%;
  margin-right: 4%;
  text-decoration: none;
  padding-top: 0.75em;
  color: black;
}

