/*Chapter 12: Text*/
body {
  background-color: rgb(200,200,200);
  font-family: Georgia, Times, serif;
  }
/* color name */
h1 {
  color: DarkCyan;
  opacity: 0.5;
  background-color: #c8c8c8;}
/* hex code */
h2 {
  color: #ee3e80;
  background-color: #ffffff;
  text-transform: uppercase;}
/* rgb value */
p {
  color: rgb(100, 100, 90);
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: right;}

a:link {
  color: green;
  text-decoration: none;}
a:visited {
  color: deeppink;}
