* {
  box-sizing: border-box;
}

#introduction {
  height: 30em;
  margin: 0px auto 10px auto;
}
#picture {
  width: 40%;
  float: left;
  padding: 2.5%;
}
#intro_des {
  height: 100% - width;
  margin-top: 5%;
  width: 55%;
  text-align: left;
  line-height: 15px;
  float: left;
}
a {
  display: inline-block;
  height: 1.75em;
  width: 100px;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  padding-top: 0.75em;
  color: black;
}

ul {
  list-style-type: none;
  line-height: 22px;
  font-size: 16px;
  border-left-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
}