#introduction {
  height: 30em;
  margin: 1% auto 10px auto;
}

.pic {
  float: right;
  border-radius: 15%;
}

#picture {
  width: 45%;
  float: left;
  align-content: right;
  padding-right: 5%;
  padding-top: 1.5%;
}

#intro_des {
  height: 100% - width;
  margin-top: 5%;
  width: 45%;
  text-align: left;
  line-height: 15px;
  float: left;
}

ul {
  list-style-type: none;
  line-height: 22px;
  font-size: 14px;
  border-left-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
}