body {
  font-family: consolas, monospace;
}
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h1 {
  padding: 5px;
  text-align: center;
  width: 80%;
  margin: 0.5em auto 0.5em auto;
}
h4 {
  text-align: center;
}
h3, h5 {
  width: 80%;
  margin-left: 10%;
}
nav {
  font-size: 16px;
  text-align: center;
  margin: 0px auto 0px auto;
  height: 2em;
  padding-bottom: 1em;
  min-width: 400px;
}
.nav_links {
  color: black;
  -webkit-transition: color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
}
.nav_links:hover {
  color: #ff7070;
  background-color: black;
}
#curr_html {
  color: #ff7070;
}
a {
  display: inline-block;
  height: 1.75em;
  width: 100px;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  padding-top: 0.75em;
  color: black;
}
.project_wrapper {
  width: 100%;
  padding: 0px 17px 0px 0px;
  height: 550px;
  overflow-y: scroll;
}
p {
  text-indent: 30px;
  font-size: 14px;
}
.project_overview {
  font-style: italic;
  width: 80%;
  margin: 0px auto 0px auto;
}
.project_description {
  width: 80%;
  margin: 0px auto 0px auto;
}