<!DOCTYPE HTML>

<!-- This is the biography page for williamma.org -->

<html>
  <title>Software Engineer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="William Ma">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/mdb.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/style.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/manual.css' %}">

  <body>
    <nav class="navbar navbar-expand-lg navbar-light mx-auto" style="background-color: #ffffff">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">William Ma</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="#">Biography <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/william-ma-856aa27b/"><i class="fab fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/williamma64"><i class="fab fa-github-square fa-lg"></i></a>
          </div>
        </div>
      </div>
    </nav>

    <div class="row animated fadeInUp container mx-auto">
      <div class="mx-auto mt-2">
        <img src="{% static 'webpages/assets/group_01.jpg' %}" class="mx-auto d-block img-fluid"></i>
      </div>
    </div>
    <div class="row animated fadeInUp container mx-auto">
      <div class="mx-auto mt-2">
        <p>Ever since I was a child, I have always loved solving problems. My favorite subject in school was math because the problems were concrete and visible and there was only one answer that was correct. Life isn't exactly the same. There are always multiple ways of approaching problems in real life that lead to the same answer. Some might be better than others, but creativity is important. I am very grateful to have the opportunites to have been a part of a few projects during my college career such as project drive where there were many paths a team could take to create their autonomous vehicle. And, in class projects such as the Pantry Raiders app where it was created because it was a collective interest of the team. Soon college will have to end, and when it does, I am ready for the problems the real world has and needs me to solve.
        </p>
      </div>

    <script type="text/javascript" src="{% static 'webpages/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/mdb.min.js' %}"></script>
  </body>
</html>
