<!DOCTYPE HTML>

<!-- This is the contact page for williamma.org -->

<html>
  <title>Software Engineer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="William Ma">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/mdb.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/style.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/manual.css' %}">

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light mx-auto" style="background-color: #ffffff">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">William Ma</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'biography' %}">Biography</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="#">Contact <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/william-ma-856aa27b/"><i class="fab fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/williamma64"><i class="fab fa-github-square fa-lg"></i></a>
          </div>
        </div>
      </div>
    </nav>

    <div class='container'>

      <section class="section card card-body mt-5">
        <h2 class="section-heading h1-responsive text-center mb-5">Contact me</h2>
        <div class="row">
          <div class="col-md-12 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" method="POST">{% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    {{ form.name }}
                    <label for="name" class="">Your name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    {{ form.email }}
                    <label for="email" class="">Your email</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    {{ form.subject }}
                    <label for="subject" class="">Subject</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    {{ form.message }}
                    <label for="message" class="">Message</label>
                  </div>
               </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="g-recaptcha mt-1" data-sitekey="6LdnP2sUAAAAAEIIBNZJHVmxSr-cuuiooe6rAWX3"></div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-deep-orange z-depth-1a waves-effect waves-light float-md-right">Send</button>
                </div>
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <div class="col-md-12"><p class="text-center text-danger">{{ error|escape }}</p></div>
                  {% endfor %}
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <script type="text/javascript" src="{% static 'webpages/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/js/mdb.min.js' %}"></script>
  </body>
</html>
